

<div style="margin-left: 5%; margin-top: 80px">
  <div style="">
    <p style="font-size: 34px">
      Some friend are missing you!
    </p>
  </div>
  <ul>
    <% if @existing_chats_users %>
        <% @existing_chats_users.each do |other_user| %>
            <% if other_user != current_user %>
                <li style="font-size: 20px">
                  <%= link_to(user_chats_path(current_user, :other_user => other_user.id), method: :post) do %>
                      <%= other_user.name %>
                  <% end %>
                </li>
            <% end %>
        <% end %>
    <% end %>
  </ul>
  <p style="font-size: 34px">
    Let's say hello with new friend!
  </p>
  <ul>
    <% @available_user.all.each do |other_user| %>
        <% if other_user.user_id != current_user %>
            <li style="font-size: 20px">
              <%= link_to(user_chats_path(current_user, :other_user => other_user.friend_id), method: :post) do %>
                  <%= User.find_by(id:other_user.friend_id).name %>
              <% end %>
            </li>
        <% end %>
    <% end %>
  </ul>
</div>


