<p>Hello<%= @resource.email %>!</p>

<p>Someone has requested a password change. You can change from the URL below.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Please ignore this email if you do not recognize it.
</p>
<p>If you do not create a new password from the above URL, the password will not be changed.
</p>
